:root {
    --dark-color: 28,31,34;
    --light-color: 255,255,255;
    --primary-color: 134,42,193;
    --lightgray-color: 238,241,242;
}

html,
body {
    padding: 0;
    margin: 0;
    color: rgb(var(--dark-color));
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button:focus,input:focus {
    outline: none;
}

.button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--light-color));
    background-color: rgb(var(--primary-color));
    padding: 8px 24px;
    border-radius: 32px;
}